.product-item {
  margin-bottom: 20px; /* Adds space between product items */
  
}

.product-item img {
  width: 300px;
  height: 320px;
  object-fit: cover; /* Ensures the image covers the set dimensions without distorting aspect ratio */
}

.product-item p {
  font-size: 18px; /* Example font size */
  color: #333; /* Dark grey text color for better readability */
}

.product-item s {
  color: red; /* Typically, a strike-through would indicate a discount or similar, so red can draw attention */
  margin-left: 10px; /* Spacing for aesthetic */
}
